.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.square {
  border-radius: 15px;
  background-color: rgb(236, 236, 236);
  width: 26vw;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  background: yellow;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  background: yellow;
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.redbtn {
  background: red;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bluebtn {
  background: blue;
  padding: 10px;
  border: none;
  cursor: pointer;
}
